.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 450px;
  background-color: #222;
  box-shadow: -2px 2px 10px #444;
  color: #ddd;
  margin: 0.5em;

  &[data-is-only-character="true"] {
    flex-grow: 1;
  }

  &[data-is-only-character="false"] {
    &[data-person="Gibbs"] {
      cursor: pointer;
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    border: 0.2em solid #888;

    &[data-is-only-character="true"] {
      flex-grow: 1;
    }

    .title {
      padding: 0.5em;
      font-size: 1.5em;
      font-weight: bold;
    }

    .image {
      display: flex;
      position: relative;
      height: 250px;
    }

    .message {
      padding: 0.5em;
      font-size: 1.3em;

      &[data-is-only-character="true"] {
        flex-grow: 1;
      }
    }
  }

  &[data-flair="golden"] {
    background-color: goldenrod;
    color: #f8f7bf;

    .container {
      border-color: #444311;
      mask: linear-gradient(-65deg, #000 30%, #0006, #000 75%) right / 300% 100%;

      &[data-is-only-character="false"] {
        animation: shimmer 8s infinite;
      }

      .title {
        background-color: darken(goldenrod, 10%);
      }

      .message {
        background-color: darken(#daa520aa, 10%);
      }
    }
  }

  &[data-flair="iconic"] {
    background-color: #3f025c;
    color: #debff8;

    .container {
      border-color: #8a03c9;
      mask: linear-gradient(-65deg, #000 30%, #0006, #000 75%) right / 300% 100%;

      &[data-is-only-character="false"] {
        animation: shimmer 8s infinite;
      }

      .title {
        background-color: darken(#8400c2, 10%);
      }

      .message {
        background-color: darken(#8400c2, 10%);
      }
    }
  }

  &[data-flair="emergency"] {
    background-color: darkred;
    color: #f5c0c0;

    .container {
      border-color: #441111;
      mask: linear-gradient(-65deg, #000 30%, #0006, #000 75%) right / 300% 100%;

      &[data-is-only-character="false"] {
        animation: shimmer 8s infinite;
      }

      .title {
        background-color: darken(darkred, 10%);
      }

      .message {
        background-color: darken(#8b0000aa, 10%);
      }
    }
  }
}

@keyframes shimmer {
  100% {
    mask-position: left;
  }
}
