html {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

#__next {
  display: flex;
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  background-color: #6b8eaa;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    background-color: lighten(black, 20%);
    padding: 1em;
    flex-basis: 18em;
    flex-shrink: 0;

    h1,
    h2 {
      color: white;
      margin: 0;
      font-weight: normal;
      text-align: center;
    }

    h2 {
      opacity: 0.5;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
  }
}
